<main role="main" class="container">

  <div class="starter-template">
    <h1>Angular Connect App</h1>
    <p class="lead">Connect with Google Sign-In or ORCID.</p>
  </div>

  <!--div class="g-signin2 mr-4" data-onsuccess="onSignIn"></div-->
  <google-signin class="g-signin2"></google-signin>
  
  <button id="connect-orcid-button" onclick="openORCID()"><img id="orcid-id-icon" src="https://orcid.org/sites/default/files/images/orcid_24x24.png" width="24" height="24" alt="ORCID iD icon"/>Connect with ORCID iD</button>

  <p>
    Login: {{userId}} {{userName}}
  </p>

  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }
  </script>
  <a href="#" onclick="signOut();">Sign out</a>
</main>